.partners {
  padding: var(--container-padding) 0;
  text-align: center;
}

.partners__content {
  margin-bottom: 5rem;
}

.partners__title {
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 0 0 2rem;
}

.partners__description {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  padding: 0 25%;
}

.parners__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .partners__content {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  .partners__content {
    margin-bottom: 1rem;
  }
  .partners__title {
    margin: 0 0 1rem;
  }
}