:root {
  --mentor-avatar-width: 200px;
}

.mentors__container {
  padding: 130px 0;
  padding: var(--container-padding) 0;
}

.mentors__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0;
  text-align: center;
}

.mentors__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -ms-flex-pack: justify;
   margin: 5.5rem 0;
}

.mentors__list_item {
  margin: 1rem 1rem;
  box-sizing: border-box;
  text-align: center;
  width: 220px;
  width: calc(var(--mentor-avatar-width) + 20px);
}

.mentor__avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  width: var(--mentor-avatar-width);
  height: var(--mentor-avatar-width);
  display: inline-block;
  border-radius: 50%;
}

.mentor__fullName {
  margin: 15px 0 5px;
}

.mentor__title {
  color: #7a7a7a;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0;
}

.mentors--action {
  text-align: center;
}

.mentors--action>a {
  display: inline-block;
  color: #000000;
  background-color: #edb42b;
  padding: 1.2rem 4rem;
  max-width: 220px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
}

.mentors--action>a:hover, .mentors--action>a:active {
  background-color: #ebc463;
}

@media only screen and (max-width: 1000px) {
  .mentors__list {
    margin: 1.5rem 0;
  }
}