.contacts {
  height: 50vh;
  background-color: #ededed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  font-size: 2.625rem;
  line-height: 1.23;
  margin: 1rem 0;
}

.contacts__email {
  font-size: 1.625rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 3rem 0;
}

.contacts__social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contacts__social-networks_item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #00D692;
  text-align: center;
  margin: 0.5rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

@media only screen and (max-width: 700px) {
  .contacts__email {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    margin: 0 0 1rem 0;
  }
}