:root {
  --container-padding: 130px;
  --default--section-height: 75vh;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.todo {
  height: 50vh;
  color: red;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 50vh;
  border: 2px solid black;
  overflow: hidden;
}

a:hover, a:active {
  cursor: pointer;
}

.meetup-location {
  width: 100%;
  height: 75vh;
  height: var(--default--section-height);
  border: none;
}

@media only screen and (max-width: 1000px) {
  :root {
    --container-padding: 3rem;
  }
  p, h2, h3 {
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --container-padding: 2rem;
  }
}