:root {
  --container-padding: 130px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.todo {
  height: 50vh;
  color: red;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 50vh;
  border: 2px solid black;
  overflow: hidden;
}

a:hover, a:active {
  cursor: pointer;
}